<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id} (id = ${user.getId()})}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="nickname">Никнейм: </label>
    <input type="text" th:field="*{nickName}" id="nickName"/>
    <br>
    <label for="ladder">Место в рейтинге: </label>
    <input type="number" th:field="*{ladder}" id="ladder"/>
    <br>
    <label for="email">Почта: </label>
    <input type="email" th:field="*{email}" id="email"/>
    <br>
    <hr/>
    <input type="submit" value="Сохранить"/>

</form>
</body>
</html>