<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users/{id} (id = ${user.getId()})}" th:object="${user}">
    <label for="name">Имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="nickname">Никнейм: </label>
    <input type="text" th:field="*{nickname}" id="nickname"/>
    <br>
    <label for="age">Возраст: </label>
    <input type="number" th:field="*{age}" id="age"/>
    <br>
    <label for="sex">Пол: </label>
    <input type="text" th:field="*{sex}" id="sex"/>
    <br>
    <hr/>
    <input type="submit" value="Сохранить"/>

</form>
</body>
</html>